<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <!-- Sidebar -->
    <%- include('../partials/sidebar'); %>
    <div class="main-content" id="panel">   
        <!-- Navbar -->
        <%- include('../partials/navbar'); %>
        <!-- Main content -->
        
            
    </div>
    <!-- Scripts -->
    <%- include('../partials/scripts'); %>

</body>
</html>