<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">

        <!-- LK learning Logo -->

        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="javascript:void(0)">
                <img src="/img/brand/blue.png" class="navbar-brand-img" alt="...">
            </a>
        </div>

        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link active" href="/">
                            <i class="ni ni-tv-2 text-dark"></i>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/students">
                            <i class="fa fa-user text-dark" aria-hidden="true"></i>
                            <span class="nav-link-text">Users list</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/authors">
                            <i class="fas fa-chalkboard-teacher text-dark"></i>
                            <span class="nav-link-text">Lecturers</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="#submenu1" data-toggle="collapse" data-target="#submenu1">
                            <i class="fas fa-user-graduate text-dark"></i>
                            <span class="nav-link-text">University</span>
                        </a>
                        <div class="collapse" id="submenu1" aria-expanded="false">
                            <ul class="flex-column pl-2 nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/universities">
                                        <i class="fas fa-user-graduate text-dark"></i>
                                        <span class="nav-link-text">University</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/colleges">
                                        <i class="fas fa-university text-dark"></i>
                                        <span class="nav-link-text">College</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#submenu2" data-toggle="collapse" data-target="#submenu2">
                            <i class="fas fa-graduation-cap text-dark"></i>
                            <span class="nav-link-text">Subject</span>
                        </a>
                        <div class="collapse" id="submenu2" aria-expanded="false">
                            <ul class="flex-column pl-2 nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/subjects">
                                        <i class="fas fa-graduation-cap text-dark"></i>
                                        <span class="nav-link-text">Subject</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/courses">
                                        <i class="fas fa-book text-dark"></i>
                                        <span class="nav-link-text">Courses</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/branches">
                                        <i class="fas fa-book-reader text-dark"></i>
                                        <span class="nav-link-text">Branch</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/semesters">
                                        <i class="fas fa-graduation-cap text-dark"></i>
                                        <span class="nav-link-text">Semester</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#submenu3" data-toggle="collapse" data-target="#submenu3">
                            <i class="fas fa-folder-open text-dark"></i>
                            <span class="nav-link-text">Materials</span>
                        </a>
                        <div class="collapse" id="submenu3" aria-expanded="false">
                            <ul class="flex-column pl-2 nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/materials">
                                        <i class="fas fa-file text-dark"></i>
                                        <span class="nav-link-text">Materials</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/materials/plans">
                                        <i class="fas fa-tasks text-dark"></i>
                                        <span class="nav-link-text">Plans</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/materials/pdfs">
                                        <i class="fas fa-file-pdf text-dark"></i>
                                        <span class="nav-link-text">PDFS</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/materials/videos">
                                        <i class="fas fa-play-circle text-dark"></i>
                                        <span class="nav-link-text">Videos</span>
                                    </a>
                                </li>
                               
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="notifications.html">
                            <i class="fas fa-bell text-dark"></i>
                            <span class="nav-link-text">Notifications</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="orders.html">
                            <i class="fas fa-shopping-cart text-dark"></i>
                            <span class="nav-link-text">Orders</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="chat.html">
                            <i class="fas fa-comment-dots text-dark"></i>
                            <span class="nav-link-text">Chat</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="reports.html">
                            <i class="fas fa-chart-area text-dark"></i>
                            <span class="nav-link-text">Report</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>